{% load static %}

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>服务器管理</title>
    <link rel="stylesheet" href="{% static 'Base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'Network/vpnnet/css/main.css' %}">
</head>
<body>

<div class="mask-box active" id="mask-box">
    <input id="key" class="key" type="password">
    <div id="verify" class="button">GO</div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>日期</th>
        <th>倍率</th>
        <th>上传流量</th>
        <th>下载流量</th>
    </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>

</body>
<script src="{% static 'Base/js/common.js' %}"></script>
<script src="{% static 'Base/js/store.js' %}"></script>
<script src="{% static 'Base/js/request.js' %}"></script>
<script src="{% static 'Network/vpnnet/js/main.js' %}"></script>
<script>
    new VPNNetRecord();
</script>
