{% load static %}

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Foto - 艺术家</title>
    <link rel="stylesheet" href="{% static 'Base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'Arts/foto/css/main.css' %}">
</head>
<body>
    <div class="nav">
        <div class="home album" onclick="fotoPage.fetchHomePage()">HomePage</div>
        <div class="album-box"></div>
        <div id="new-album" class="new-album album" onclick="fotoPage.newAlbum()">New Album</div>
    </div>

    <div class="foto-box"></div>
    <div class="button-box">
        <div class="button" onclick="fotoPage.fileInput.click()">Add</div>
        <div class="button" onclick="fotoPage.clearUploadFiles()">Clear</div>
        <div id="remove" class="button" onclick="fotoPage.toggleRemoveMode()">Remove</div>
        <div class="button" onclick="fotoPage.confirmUploadFiles()">Upload</div>
        <div class="button" onclick="fotoPage.togglePinMode()">Pin</div>

        <div class="button margin-top" onclick="fotoPage.renameAlbum()">Rename</div>
        <div class="button" onclick="fotoPage.destroyAlbum()">Destroy</div>
    </div>

    <input class="file-input" type="file" multiple accept="image/*"/>
</body>
<script src="{% static 'Base/js/common.js' %}"></script>
<script src="{% static 'Base/js/store.js' %}"></script>
<script src="{% static 'Base/js/request.js' %}"></script>
<script src="{% static 'Arts/foto/js/main.js' %}"></script>
<script>
    const fotoPage = new FotoPage();
    fotoPage.getToken()
    fotoPage.fetchHomePage()
</script>
