{% load staticfiles %}

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>冰山押韵 - 规整家</title>
    <link rel="stylesheet" href="{% static 'Base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'Language/phrase/css/main.css' %}">
</head>
<body>
    <div class="absolute full login-mask" id="login-mask">
        <div class="flex full full-container">
            <input class="element" id="entrance" placeholder="输入贡献者ID">
            <div class="element btn" id="enter">进入后台</div>
        </div>
    </div>
    <div class="nav">
        <div class="left">
            <div class="selector ptr" id="contributor-selector">
                <div class="selector__title" id="contributor-selector-title">标注者</div>
            </div>
            <div class="selector ptr" id="tag-selector">
                <div class="selector__title" id="tag-selector-title">选择属性</div>
                <div class="selector__items" id="tag-selector-items"></div>
            </div>
            <div class="selector ptr" id="review">
                <div class="selector__title" id="review-title">审核</div>
            </div>
        </div>
        <div class="right">
            <div class="selector ptr" id="reset-page">
                <div class="selector__title">重置页</div>
            </div>
            <div class="selector ptr" id="next-page">
                <div class="selector__title">下一页</div>
            </div>
            <div class="selector ptr" id="submit">
                <div class="selector__title">提交</div>
            </div>
        </div>
    </div>
    <div class="nav second">
        <div class="left">
            <div class="selector ptr" id="row-selector">
                <div class="selector__title" id="row-selector-title">选择行数</div>
                <div class="selector__items" id="row-selector-items"></div>
            </div>
            <div class="selector ptr" id="choose-all">
                <div class="selector__title">全选</div>
            </div>
            <div class="selector ptr" id="toggle-all">
                <div class="selector__title">反选</div>
            </div>
            <div class="selector ptr" id="choose-all-not-4">
                <div class="selector__title">非四全选</div>
            </div>
        </div>
        <div class="right">
            <div class="title-select">
                <div class="selector ptr">
                    <div class="selector__title" id="input-mode-title">添加</div>
                    <div class="selector__items" id="input-mode-items">
                        <div class="selector__items__item" onclick="phrasePage.setInputMode(0)">添加</div>
                        <div class="selector__items__item" onclick="phrasePage.setInputMode(1)">搜索</div>
                    </div>
                </div>
                <input id="input-phrase" placeholder="输入词语，按回车"/>
            </div>
        </div>
    </div>
    <div class="body"></div>
    <div class="wage" id="wage"></div>
</body>
<script src="{% static 'Base/js/common.js' %}"></script>
<script src="{% static 'Base/js/store.js' %}"></script>
<script src="{% static 'Base/js/request.js' %}"></script>
<script src="{% static 'Language/phrase/js/main.js' %}"></script>
<script>
    window.onbeforeunload = function() { return "Your work will be lost."; };
    const phrasePage = new PhrasePage();
</script>