.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

.nav .album.selected {
    color: #F78A8A;
    font-weight: bold;
}

.nav .album {
    display: inline-block;
    color: black;
    width: 150px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-left: 1px solid #555555;
    transition: 0.2s;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.nav .new-album.album {
    border-left: none;
    background: black;
    color: white;
    position: absolute;
    right: 0;
}

.nav .album-box {
    display: inline-block;
    max-width: calc(100% - 300px);
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
}

.nav .home {
    font-weight: bold;
    border-left: none;
    font-size: 16px;
}

.foto-box {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.foto-box .foto {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.foto-box .foto.uploading {
    border: 5px solid black;
    cursor: pointer;
}

.foto-box .foto.uploaded {
    border: 5px solid #B75A5A;
}

.foto-box.remove-mode .foto:hover {
    border: 5px solid #5A5AB7;
    cursor: pointer;
}

.foto-box.pin-mode .foto.foto-pinned:hover {
    border: 5px solid black;
    cursor: pointer;
}

.foto-box.pin-mode .foto:hover {
    border: 5px solid #BB3;
    cursor: pointer;
}

.foto-box.pin-mode .foto.foto-pinned {
    border: 5px solid #BB3;
}

.foto-box.pin-mode .foto {
    border: 5px solid black;
}

.file-input {
    display: none;
}

.foto-box.active {
    border-left: 30px solid black;
    border-top: 2px solid black;
    border-right: 150px solid black;
    background: white;
}

.button-box {
    position: fixed;
    top: 100px;
    right: 0;
    width: 150px;
    height: calc(100% - 50px);
    display: none;
}

.button-box.active {
    display: block;
}

.button-box .button {
    margin: 10px;
    padding: 10px;
    width: 130px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.button-box .button.warn {
    color: #B75A5A;
    font-weight: bold;
}

.button-box .button.margin-top {
    margin-top: 100px;
}

.button-box .button:hover {
    background: #B75A5A;
}

.button-box .button.warn:hover {
    background: white;
}

.button-box .button.active {
    background: #B75A5A;
}